In [6]:
import pandas as pd
weather_data = {
    'day': ['1/1/2018','1/2/2018','1/3/2018','1/4/2018','1/5/2018','1/6/2018'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df=pd.DataFrame(weather_data)
print(df)

        day  temperature  windspeed  event
0  1/1/2018           32          6   Rain
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
4  1/5/2018           32          4   Rain
5  1/6/2018           31          2  Sunny

In [2]:
df.shape  #rows and columns

(6, 4)

In [3]:
df.head()   # first 5 rows by default 0r df.head(3) for 3 rows

        day  temperature  windspeed  event
0  1/1/2018           32          6   Rain
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
4  1/5/2018           32          4   Rain

In [4]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2018           32          6   Rain
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow

In [5]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
4  1/5/2018           32          4   Rain
5  1/6/2018           31          2  Sunny

In [6]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2018           32          4   Rain
5  1/6/2018           31          2  Sunny

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
day            6 non-null object
temperature    6 non-null int64
windspeed      6 non-null int64
event          6 non-null object
dtypes: int64(2), object(2)
memory usage: 272.0+ bytes

In [8]:
df.size

24

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df[3:5] # for rows write index number

        day  temperature  windspeed event
3  1/4/2018           24          7  Snow
4  1/5/2018           32          4  Rain

In [11]:
df['day'] # for columns call the name or write df.day

0    1/1/2018
1    1/2/2018
2    1/3/2018
3    1/4/2018
4    1/5/2018
5    1/6/2018
Name: day, dtype: object

In [12]:
type(df['day'])

pandas.core.series.Series

In [13]:
df[['day','temperature','windspeed']]   # multiple cpolumns use double square brackets [[  ]]

        day  temperature  windspeed
0  1/1/2018           32          6
1  1/2/2018           35          7
2  1/3/2018           28          2
3  1/4/2018           24          7
4  1/5/2018           32          4
5  1/6/2018           31          2

In [14]:
# find max temp
df['temperature'].max()

35

In [15]:
df[df['temperature']!=32]

        day  temperature  windspeed  event
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
5  1/6/2018           31          2  Sunny

In [16]:
df[2:3]

        day  temperature  windspeed event
2  1/3/2018           28          2  Snow

In [9]:
df['day'][df['temperature']==df['temperature'].max()]

1    1/2/2018
Name: day, dtype: object

In [18]:
df['temperature'].std()

3.8297084310253524

In [19]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [20]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2018           32          6   Rain
1/2/2018           35          7  Sunny
1/3/2018           28          2   Snow
1/4/2018           24          7   Snow
1/5/2018           32          4   Rain
1/6/2018           31          2  Sunny

In [21]:
df

        day  temperature  windspeed  event
0  1/1/2018           32          6   Rain
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
4  1/5/2018           32          4   Rain
5  1/6/2018           31          2  Sunny

In [25]:
df

          temperature  windspeed  event
day
1/1/2018           32          6   Rain
1/2/2018           35          7  Sunny
1/3/2018           28          2   Snow
1/4/2018           24          7   Snow
1/5/2018           32          4   Rain
1/6/2018           31          2  Sunny

In [27]:
df

          temperature  windspeed  event
day
1/1/2018           32          6   Rain
1/2/2018           35          7  Sunny
1/3/2018           28          2   Snow
1/4/2018           24          7   Snow
1/5/2018           32          4   Rain
1/6/2018           31          2  Sunny

In [28]:
df.reset_index(inplace=True)

In [29]:
df

        day  temperature  windspeed  event
0  1/1/2018           32          6   Rain
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
4  1/5/2018           32          4   Rain
5  1/6/2018           31          2  Sunny

In [30]:
df.set_index('day',inplace=True)

In [31]:
df

          temperature  windspeed  event
day
1/1/2018           32          6   Rain
1/2/2018           35          7  Sunny
1/3/2018           28          2   Snow
1/4/2018           24          7   Snow
1/5/2018           32          4   Rain
1/6/2018           31          2  Sunny

In [32]:
df.loc['1/2/2018']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2018, dtype: object