In [1]:
# csv ,exel is better in fetching numericals values compare to sql
import sqlite3

In [2]:
#connecting to database
connection=sqlite3.connect("Emptable.db")

In [3]:
#cursor
crsr=connection.cursor()

In [4]:
#database is created

In [5]:
#create a table
sql_command="""CREATE TABLE emp(
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE);"""

In [6]:
crsr.execute(sql_command)

OperationalError: table emp already exists

In [7]:
sql_command="""INSERT INTO emp VALUES(23,"Aditya","Tripathi","M","2014-03-28");"""

In [8]:
crsr.execute(sql_command)

In [16]:
sql_command="""INSERT INTO emp VALUES(32,"pooja","Tripathi","F","2014-03-28");"""

In [24]:
crsr.execute(sql_command)

In [26]:
connection.commit()  #important step to save the data

In [27]:
connection.close()

In [28]:
connection=sqlite3.connect("Emptable.db")

In [29]:
crsr=connection.cursor()

In [30]:
crsr.execute("SELECT * FROM emp")

In [31]:
ans=crsr.fetchall()

In [32]:
ans

[(23, 'Aditya', 'Tripathi', 'M', '2014-03-28'),
 (32, 'pooja', 'Tripathi', 'F', '2014-03-28')]

# another method

In [33]:
for i in ans:
    print(i)

(23, 'Aditya', 'Tripathi', 'M', '2014-03-28')
(32, 'pooja', 'Tripathi', 'F', '2014-03-28')